<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407754564166-vqtn7poiec2fak9h4dd2mpujo9h46r99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407754564166-vqtn7poiec2fak9h4dd2mpujo9h46r99</string>
	<key>API_KEY</key>
	<string>AIzaSyB9jp3dxkrFGGJGBFWjgQhO5Hzh7jR2OCo</string>
	<key>GCM_SENDER_ID</key>
	<string>407754564166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ferdidemirci.F-Plus</string>
	<key>PROJECT_ID</key>
	<string>f-plus-5e42b</string>
	<key>STORAGE_BUCKET</key>
	<string>f-plus-5e42b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407754564166:ios:f4846c4c86c02ff32ee047</string>
</dict>
</plist>